.hash-link {
  opacity: 0;
  transition: opacity 0.2s;
  -webkit-user-select: none;
  user-select: none;
  padding-left: 0.5rem;
  color: #ff0000;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.anchorWithStickyNavbar {
  scroll-margin-top: calc(4rem + 0.5rem);
}

.anchorWithStickyNavbar:hover .hash-link {
  opacity: 1;
}
