<!DOCTYPE html>
<html>

<head>
  <title>🦎 GAD | 404</title>
  <link rel="icon" href="/data/icons/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/fontawesome/css/all.min.css" rel="stylesheet" />
  <link href="/css/fonts/fonts.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/controls.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header>
    <div style="display: grid; grid-template-columns: 4fr 1fr" class="main-nav-menu">
      <h1 id="menu-main-gui" class="nav-menu"></h1>
    </div>
  </header>
  <div id="container"></div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div align="center">
    <div class="container" style="align-content: center; align-items: center; justify-content: center">
      <div>
        <h2>Page not found! 🙁</h2>
      </div>
      <br />
      <div>
        Return to
        <a href="/">
          <button class="button-primary">main page</button>
        </a>
      </div>
    </div>
  </div>

  <br />
  <div class="container page-subheader" id="pageHeader" style="text-align: center;">
    <h2>Or jump straight into a module</h2>
  </div>

  <div class="modules-container">
    <div class="module">
      <a href="/articles.html" class="module-link">
        <div class="module-content">
          <div style="display: flex; flex-direction: column; height: 100%;">
            <div style="flex: 1; display: flex; align-items: center; justify-content: center; flex-direction: column;">
              <i class="fa-regular fa-newspaper fa-2x"></i>
              <button class="non-button">
                <h3 class="module-header">Articles</h3>
              </button>
            </div>
            <div style="flex: 1; display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <span class="module-description">Explore and create testing content!
                <br /><br />Manage articles, comments, users, flashposts and games
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="module">
      <a href="/practice" class="module-link">
        <div class="module-content">
          <div style="display: flex; flex-direction: column; height: 100%;">
            <div style="flex: 1; display: flex; align-items: center; justify-content: center; flex-direction: column;">
              <i class="fa-solid fa-flask-vial fa-2x"></i>
              <button class="non-button">
                <h3 class="module-header">Practice Pages</h3>
              </button>
            </div>
            <div style="flex: 1; display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <span class="module-description">Special pages to test!<br /><br />Practice on elements states, tables, dynamic IDs, API, popups, charts, iframes and more!</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="module">
      <a href="/games" class="module-link">
        <div class="module-content">
          <div style="display: flex; flex-direction: column; height: 100%;">
            <div style="flex: 1; display: flex; align-items: center; justify-content: center; flex-direction: column;">
              <i class="fa-solid fa-solid fa-table-tennis-paddle-ball fa-2x"></i>
              <button class="non-button">
                <h3 class="module-header">Games</h3>
              </button>
            </div>
            <div style="flex: 1; display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <span class="module-description">Special pages to test!<br /><br />Practice automation on non-standard elements, animations, games, and more!</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="module">
      <a href="/book-shop/dashboard.html" class="module-link">
        <div class="module-content">
          <div style="display: flex; flex-direction: column; height: 100%;">
            <div style="flex: 1; display: flex; align-items: center; justify-content: center; flex-direction: column;">
              <i class="fa-solid fa-book fa-2x"></i>
              <button class="non-button">
                <h3 class="module-header">Book Shop</h3>
              </button>
            </div>
            <div style="flex: 1; display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <span class="module-description">Discover and manage bookstore!<br /><br />Handle books, items, orders, accounts, payments, and roles</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="module"><span class="star-glow"><i class="fa-solid fa-star"></i></span>
      <a href="/learning/welcome.html" class="module-link">
        <div class="module-content">
          <div style="display: flex; flex-direction: column; height: 100%;">
            <div style="flex: 1; display: flex; align-items: center; justify-content: center; flex-direction: column;">
              <i class="fa-solid fa-graduation-cap fa-2x"></i>
              <button class="non-button">
                <h3 class="module-header">Learning</h3>
              </button>
            </div>
            <div style="flex: 1; display: flex; flex-direction: column; align-items: center; justify-content: center;">
              <span class="module-description">Explore courses!<br /><br />Handle courses, users, questions, progress, and learning paths</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</body>
<br />
<br />
<br />
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/version.js"></script>
<script type="text/javascript" src="/username.js"></script>

</html>