<!DOCTYPE html>
<html>

<head>
  <title>🦎 GAD | Welcome</title>
  <link rel="icon" href="./favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto" rel="stylesheet" />
  <link rel="stylesheet" href="./css/controls.css" />
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
  <header>
    <div style="display: grid; grid-template-columns: 4fr 1fr" class="main-nav-menu">
      <h1 id="menu-main-gui" class="nav-menu"></h1>
    </div>
  </header>
  <div id="container"></div>
  <div id="containerComments"></div>
  <br />
  <br />
  <br />
  <div class="container" id="pageHeader" style="font-size: 12px; align-content: center; display: flex; align-items: center; justify-content: center">
    <div class="welcome">
      <div align="center">
        <h2 data-testid="hello">Hi <%=username%>!</h2>
        <h2 id="countDown" data-testid="countDown">Session will expire in: Counting time...</h2>
      </div>
      <br />
      <div class="separator">Quick Navigation</div>
      <div align="center">
        <br />
        <a href="/users.html" id="btnEditLink"> <button class="button-primary">My profile</button> </a><br /><br />
        <a href="/users.html" id="btnArticlesLink"> <button class="button-primary">My articles</button> </a><br /><br />
        <a href="../surveys.html" id="btnSurveysLink"> <button class="button-primary">Surveys</button> </a><br /><br />
        <a href="../games.html" id="btnGamesLink"> <button class="button-primary">Games</button> </a><br /><br />
        <span id="additionalBtns"></span>
      </div>
      <br />

      <div class="separator">Account Management</div>
      <br />
      <div align="center">
        <a href="/logout">
          <button id="btnLogout" data-testid="logoutButton" class="button-primary-warning">Logout</button>
        </a>
      </div>
      <br />
      <br />

      <div class="separator">Danger Zone</div>
      <br />
      <div align="center">
        <button id="btnDeleteAccount" data-testid="deleteButton" class="button-primary-danger">Delete Account</button>
      </div>
    </div>
  </div>
  <br />
</body>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/welcome.js"></script>
<script type="text/javascript" src="version.js"></script>
<script type="text/javascript" src="username.js"></script>
<script type="text/javascript" src="cookieExpiration.js"></script>

</html>