<!DOCTYPE html>
<html>

<head>
  <title>🦎 GAD | Welcome</title>
  <link rel="icon" href="/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto" rel="stylesheet" />
  <link rel="stylesheet" href="/css/controls.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/libs/jquery/jquery.min.js"></script>
  <script src="/js/libs/packery/packery.pkgd.min.js"></script>
  <script src="/js/libs/packery/draggabilly.pkgd.min.js"></script>
</head>

<body>
  <header>
    <div style="display: grid; grid-template-columns: 4fr 1fr" class="main-nav-menu">
      <h1 id="menu-main-gui" class="nav-menu"></h1>
    </div>
  </header>
  <div id="container"></div>
  <div id="containerComments"></div>
  <br />
  <br />
  <br />
  <div align="center">
    <div class="grid-drag">
      <div class="grid-item grid-item--width4 grid-item--height1" data-item-id="1">
        <div class="handle"></div>
        <div style="font-size: 12px; align-content: center; display: flex; align-items: center; justify-content: center">
          <div align="center">
            <h2 data-testid="hello">Hi <%=username%>!</h2>
            <h3 id="countDown" data-testid="countDown">Session will expire in: Counting time...</h3>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--width2 grid-item--height3" data-item-id="2">
        <div class="handle"></div>
        <div style="font-size: 12px; align-content: center; display: flex; align-items: center; justify-content: center">
          <div style="width: 100%;">
            <div class="separator">Quick Navigation</div>
            <div align="center">
              <br />
              <a href="/users.html" id="btnMyAccountLink" class="btnMyAccountLink"> <button class="button-primary">My profile</button> </a><br /><br />
              <a href="/articles.html" id="btnArticlesLink"> <button class="button-primary">My articles</button> </a><br /><br />
              <a href="/comments.html" id="btnCommentsLink"> <button class="button-primary">My comments</button> </a><br /><br />
              <a href="/surveys.html" id="btnSurveysLink"> <button class="button-primary">Surveys</button> </a><br /><br />
              <a href="/games/games.html" id="btnGamesLink"> <button class="button-primary">Games</button> </a><br /><br />
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--width2 grid-item--height1" data-item-id="3">
        <div class="handle"></div>
        <div style="font-size: 12px; align-content: center; display: flex; align-items: center; justify-content: center">
          <div style="width: 100%;">
            <div class="separator">Account Management</div>
            <br />
            <div align="center">
              <a href="/logout">
                <button id="btnLogout" data-testid="logoutButton" class="button-primary-warning">Logout</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--width2 grid-item--height3" data-item-id="4">
        <div class="handle"></div>
        <div style="font-size: 12px; align-content: center; display: flex; align-items: center; justify-content: center">
          <div style="width: 100%;">
            <div class="separator">Additional features</div>
            <div align="center">
              <br />
              <span id="additionalBtns"><strong id="notAvailableLbl">Not available (see feature flags)</strong></span>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-item grid-item--width2 grid-item--height3" data-item-id="5">
        <div class="handle"></div>
        <div>
          <img class="myAvatar" id="myAvatar" width="150px"><br />
          <button id="btnEditDashbaord" class="button-primary-small"><i class="fa-solid fa-pen-to-square"></i> Edit this Dashboard</button><br /><br />
          <span style="font-size: 12px;">Toggle darkmode:</span> <br />
          <button class="darkmode button-primary-small" id="darkmode-switch" title="darkmode switch" aria-hidden="true" style="width: 30px;"></button><br />

        </div>
      </div>
      <div class="grid-item grid-item--width2 grid-item--height1" data-item-id="6">
        <div class="handle"></div>
        <div style="font-size: 12px; align-content: center; display: flex; align-items: center; justify-content: center">
          <div style="width: 100%;">
            <div class="separator">Danger Zone</div>
            <br />
            <div align="center">
              <button id="btnDeleteAccount" data-testid="deleteButton" class="button-primary-danger">Delete Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</body>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/welcome.js"></script>
<script type="text/javascript" src="/version.js"></script>
<script type="text/javascript" src="/username.js"></script>
<script type="text/javascript" src="/cookieExpiration.js"></script>
<script type="text/javascript" src="/js/draggable-layout.js"></script>
<script type="text/javascript" src="/js/darkmode.js"></script>

</html>