.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.book-title {
  font-size: 13px;
  font-weight: bold;
  padding: 2px;
  margin: 2px;
}

.book-card {
  width: 300px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  margin: 4px;
  background-color: rgb(250, 250, 250);
}

.book-top-details {
  width: 95%;
}

.book-details {
  font-size: 12px;
  padding: 4px;
}

.book-description {
  font-size: 12px;
  padding: 4px;
}

.book-popup {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-popup-content {
  overflow: hidden;
  min-width: 300px;
  width: 400px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  padding: 4px;
  background-color: rgb(250, 250, 250);
}

.book-popup-controls {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: end;
  width: 390px;
  padding: 4px;
}

.popup-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-creation-process {
  font-size: 12px !important;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-connector-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.green-tick {
  color: rgb(110, 196, 110);
  font-size: 32px;
}

.loading-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-error-description {
  display: inline;
  font-size: 12px;
  max-height: 200px;
  max-width: 300px;
}

.loading-spinner {
  width: 100%;
  height: 200px;
  background: url("/data/loading.gif") center no-repeat;
}

.loading-spinner-2 {
  width: 100%;
  height: 200px;
  background: url("/data/swirl-1.gif") center no-repeat;
}

.book-button {
  font-size: 20px;
}

.book-clickable-component.clickable-btn {
  font-size: 16px;
  padding: 4px;
  margin: 4px;
}

.book-clickable-component.clickable-btn-wide {
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.book-clickable-component {
  cursor: pointer;
}

.book-clickable-component:hover {
  color: rgb(255, 0, 0);
}

.hidden-data {
  filter: blur(5px);
  user-select: none;
}

.account-name {
  font-size: 16px;
  margin: 5px;
  padding: 5px;
}

h4.books-header {
  font-size: 16px;
  margin: 5px;
  padding: 5px;
}

.profile-card {
  min-width: 300px;
  max-width: 500px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  margin: 4px;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  font-size: 12px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.book-shop-button-primary {
  font-size: 10px;
  padding: 4px;
  margin: 10px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}

.book-shop-button-primary.red {
  background-color: rgb(255, 158, 158);
}

.book-shop-button-primary.green {
  background-color: rgb(110, 196, 110);
}

.book-shop-button-primary:hover {
  background-color: rgb(209, 209, 209);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.book-shop-button-primary.disabled {
  background-color: rgb(196, 196, 196);
  cursor: default;
}

.book-shop-button-primary.thin {
  margin: 2px;
}

.profile-image-and-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-column {
  width: 100px;
  min-width: 100px;
}

.details-column {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.books-list {
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  margin: 4px;
  width: max-content;
  background-color: rgb(250, 250, 250);
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.book-table-details {
  font-size: 12px;
  padding: 4px;
  width: 100%;
}

.tools-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-tools-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.book-tools-button {
  font-size: 14px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(193, 193, 193);
}

.book-tools-button.active {
  color: rgb(9, 159, 9);
}

.item-shop-info {
  font-size: 12px;
}

.cart-info-container {
  padding-left: 10px;
  padding-right: 10px;
}

.cart-item-description {
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
}

.orders-list {
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  margin: 4px;
  width: max-content;
  background-color: rgb(250, 250, 250);
}

.book-table-details td {
  text-wrap: auto;
  white-space: unset;
}

.book-table td {
  text-wrap: auto;
  white-space: unset;
}

.order-item {
  font-size: 12px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  margin: 4px;
  padding: 4px;
  background-color: rgb(250, 250, 250);
}

.order-status {
  font-size: 12px;
  font-weight: bold;
  padding: 4px;
  margin: 4px;
}

.book-shop-side-panel-icons.active {
  color: rgb(210, 210, 210);
}

.order-total {
  font-size: 12px;
  font-weight: bold;
}

.additional-costs {
  font-size: 12px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.orders-controls {
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: inline-block;
}

.orders-legend {
  font-size: 12px;
}

.account-edit-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.account-edit-popup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.account-edit-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account-edit-column.right {
  align-items: start;
}

.account-edit-column.left {
  align-items: end;
}

.account-edit-label {
  font-size: 12px;
  padding: 4px;
  margin: 2px;
}

.account-edit-input {
  font-size: 12px;
  padding: 4px;
  margin: 2px;
}

.account-edit-input.wide {
  font-size: 12px;
  padding: 4px;
  margin: 2px;
  width: 200px;
}

.account-edit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.account-edit-form {
  padding-top: 20px;
}

.order-item-price-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.order-label-base {
  font-size: 12px;
  padding: 2px;
  margin: 4px;
  border-radius: 5px;
  border-color: #042e00;
}

.order-label-base.label-new {
  color: #000000;
  background-color: #6aff5d;
}

.order-label-base.label-new::before {
  content: "🌱";
  margin-right: 5px;
}

.order-label-base.label-cancelled {
  color: #ffffff;
  background-color: #ababab;
}

.order-label-base.label-cancelled::before {
  content: "🧺";
  margin-right: 5px;
}

.order-label-base.label-sent {
  color: #3b3b3b;
  background-color: #ffd96fd3;
}

.order-label-base.label-sent::before {
  content: "📨";
  margin-right: 5px;
}

.order-label-base.label-completed {
  color: #ebebeb;
  background-color: #33844f;
}

.order-label-base.label-completed::before {
  content: "✅";
  margin-right: 5px;
}

.account-edit-description {
  font-size: 12px;
  padding: 4px;
  margin: 2px;
}
